.container {
  text-align: center;
}

.currencyText {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.pnlText {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 12px;
}

.inProfit {
  color: #00bf13;
}

.inLoss {
  color: red;
}
