.container {
  display: grid;
  grid-template-areas:
    "bison balance"
    "currencyPnL currencyPnL";
  gap: 1rem;
  width: 100%;
}

.bison {
  grid-area: bison;
}

.balance {
  grid-area: balance;
}

.currencyPnL {
  grid-area: currencyPnL;
}
